/******* Hobeaux *******/

@font-face {
    font-family: 'Hobeaux';
    src: url('/fonts/Hobeaux/HobeauxDemo-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Hobeaux';
    src: url('/fonts/Hobeaux/HobeauxDemo-Regular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Hobeaux';
    src: url('/fonts/Hobeaux/HobeauxDemo-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Hobeaux';
    src: url('/fonts/Hobeaux/HobeauxDemo-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Hobeaux';
    src: url('/fonts/Hobeaux/HobeauxDemo-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: auto;
}

/******* Vulf Sans *******/

@font-face {
    font-family: 'Vulf Sans';
    src: url('/fonts/VulfSans/VulfSansDemo-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vulf Sans';
    src: url('/fonts/VulfSans/VulfSansDemo-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vulf Sans';
    src: url('/fonts/VulfSans/VulfSansDemo-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vulf Sans';
    src: url('/fonts/VulfSans/VulfSansDemo-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vulf Sans';
    src: url('/fonts/VulfSans/VulfSansDemo-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vulf Sans';
    src: url('/fonts/VulfSans/VulfSansDemo-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vulf Sans';
    src: url('/fonts/VulfSans/VulfSansDemo-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vulf Sans';
    src: url('/fonts/VulfSans/VulfSansDemo-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vulf Sans';
    src: url('/fonts/VulfSans/VulfSansDemo-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vulf Sans';
    src: url('/fonts/VulfSans/VulfSansDemo-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}