// Global variables

:root {
    --page-width: 700px;
    --page-top-bottom-padding: calc(
        max(
            min(100px, 100/7 * 1vw),
            2em
        )
    );
}

// Global styles

body {
    background-color: rgb(231, 255, 238);
    font-family: 'Vulf Sans';
}

p:not(:last-child)  {
    margin-bottom: 1em;
}