// Global variables

:root {
    --padding: 16px;
    --page-width: 700px;
    --page-top-bottom-padding: 100px;

    --highlight-height: 130px;
    --highlight-min-width: 180px;
}

// Global styles

body {
    background-color: rgb(231, 255, 238);
    font-family: 'Vulf Sans';
}

p {
    &:not(:last-child)  {
        margin-bottom: var(--padding);
    }
}