// Global variables

:root {
    --padding: 1em;
    --page-width: 700px;
    --page-top-bottom-padding: calc(
        max(
            min(100px, 100/7 * 1vw),
            calc(var(--padding) * 2)
        )
    );

    --highlight-height: 120px;
    --highlight-min-width: 180px;
}

// Global styles

body {
    background-color: rgb(231, 255, 238);
    font-family: 'Vulf Sans';
}

p:not(:last-child)  {
    margin-bottom: var(--padding);
}